.navbar {
	margin-bottom: 100px;
}

.navbar-right {
	margin-right: 0px;
}

body {
	background: #FFFFFF url("images/background.jpg") fixed;
}

form {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	font-size: 100%;
}

.search-form{
	display: block;
}

.search-btn{
	margin-top: 25px;
	width: 150px;
}

#moreoptions{
	margin-top: 10px;
	width: 200px;
}

.bbox {
	background-color: rgba(220, 200, 20, 0.75);
	border: 3px solid rgba(140, 140, 140, 0.5);
	border-radius: 15px;
	padding: 20px;
}
.bbox:after{
    clear: both;
    content: "";
    display: block;
}

.searched-city{
	font-weight: bold;
}

.results tr{
	background: rgba(220, 200, 20, 0.75);
	border-top: 2px solid #DDD;
	border-bottom: 2px solid #DDD;
}

.results tr:hover{
	background: #FFFFFF !important;
}

.results td:nth-child(1){
	width: 100px;
}

.results td:nth-child(2){
	width: 150px;
	font-size: 150%;
}

.results td:nth-child(2) h5{
	color: #444444;
}

.results td:nth-child(4){
	width: 85px;
}

.pub-info {
	width: 32%;
	float: left;
	clear: none;
}

.club-content {
	padding-left: 10px !important;
	width: 65%;
	float: left;
	clear: none;
}

.pub-title{
	font-weight: bold;
}

.pub-pics{
	width: 100%;/*600px;*/
	height: auto;/*394.7368421052632px;*/
	padding: 0px;
	margin-top: 20px;
	border: none;
}


.comments tr{
	background: rgba(220, 200, 20, 0.75);
	border-top: 2px solid #DDD;
	border-bottom: 2px solid #DDD;
}

.comments tbody tr:hover td{
	cursor: auto !important;
}

.comments td:nth-child(1){
	width: 125px;
	font-size: 80%;
	font-weight: bold
}

.comments td:nth-child(1) h5{
	color: #444444;
}

.coms {
	padding-top: 10px;
	font-size: 12px;
}
.more-coms{
	padding-bottom:10px;
}

.delink{
	color: #333;
}

.timestamp{
	font-size: 80%;
}

.vote{
	padding-left: 20px;
}

table th h2{
	font-weight: bold;
}

.address{
	font-size: 65%;
	vertical-align: middle !important;
}

td.prices {
	padding-top: 20px;
	vertical-align: middle !important;
}

td.score {
	text-align:center;
	vertical-align: middle !important;
	font-size: 130%;
}

.pub-info h4 small{
	color: #333333;
}

.list-group-item {
	background-color: rgba(255, 255, 255, 0.25);
}

.subs-pubs tr{
	background: rgba(220, 200, 20, 0.75);
	border-top: 2px solid #DDD;
	border-bottom: 2px solid #DDD;
}

.subs-pubs tr:hover{
	background: #FFFFFF !important;
}

.subs-pubs td:nth-child(1){
	width: 100px;
}

.subs-pubs td:nth-child(2){
	width: 180px;
	font-size: 150%;
}

.subs-pubs td:nth-child(2) h5{
	color: #444444;
}

.subs-pubs td:nth-child(4){
	width: 120px;
}

header {
	background: #3F3939;
	height: 50px;
	width: 100%;
	position: fixed;
	display: block;
	z-index: 4;
}

footer {
	background: #3F3939;
	color: #D8D8D8;
	text-align: center;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 25px;
	margin-top: 100px;
	display: block;	
	z-index: 4;
}

footer h1 {
	font-family: "Ubuntu-Light",Helvetica,Arial,sans-serif;
	font-weight: 100;
	font-size: 90%;
	margin-top: 5px;
	
}

footer img {
	margin-top: -5px;
}

#logo {
	margin-top: 3px;
	padding-left: 50px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: gray;
}

.navbar {
    margin-bottom: 10px;
}