.navbar-right {
	margin-right: 0px;
}

form {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.navbar {
	margin-bottom: 100px;
}

td.prices {
	padding-top:20px;
	vertical-align: middle !important;
}

td.score {
 text-align:center;
 vertical-align:middle !important;
 font-size:130%;
}